body,html
  line-height: 1
  font-weight: 1
  font-family: 'pingfang sc','arail','sans-serif'

@media (min-device-pixl-radio: 1.5)
  .border-1px
    &::after
      -webkit-transform: scaleY(0.7)
      transform: scaleY(0.7)
@media (min-device-pixl-radio: 2)
  .border-1px
    &::after
      -webkit-transform: scaleY(0.5)
      transform: scaleY(0.5)